<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microandroid.modules.emp.mapper.IEmpMapper">
    <resultMap id="BaseResultMap" type="com.microandroid.modules.emp.dto.Emp">
        <id column="EMPNO" property="empno" jdbcType="INTEGER"/>
        <result column="ENAME" property="ename" jdbcType="VARCHAR"/>
        <result column="JOB" property="job" jdbcType="VARCHAR"/>
        <result column="MGR" property="mgr" jdbcType="INTEGER"/>
        <result column="HIREDATE" property="hiredate" jdbcType="VARCHAR"/>
        <result column="DEPTNO" property="deptno" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        EMPNO, ENAME, JOB, MGR, HIREDATE, DEPTNO
    </sql>

    <!-- 查询员工及其下属员工 -->
    <select id="selectSubEmpByPrimaryKey" parameterType="object"
            resultMap="BaseResultMap">
        select * from emp e1 where exists (
          select 1 from emp e2 where e1.empno = e2.mgr
        )
        and e1.empno = #{pk}
    </select>
</mapper>