<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>histruts1</display-name>

    <servlet>
        <servlet-name>histruts1</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts/struts-config.xml</param-value>
        </init-param>

        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>

        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>histruts1</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!--shiro配置开始-->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>shiroEnvironmentClass</param-name>
        <param-value>org.apache.shiro.web.env.IniWebEnvironment
        </param-value><!-- 默认先从/WEB-INF/shiro.ini，如果没有找classpath:shiro.ini -->
    </context-param>
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>classpath:conf/shiro.ini</param-value>
    </context-param>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--shiro配置结束-->


    <filter>
        <filter-name>ReqlogFilter</filter-name>
        <filter-class>com.microandroid.filters.ReqlogFilter</filter-class>
        <init-param>
            <param-name>pn1</param-name>
            <param-value>pv1</param-value>
        </init-param>
        <init-param>
            <param-name>pn2</param-name>
            <param-value>pv2</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ReqlogFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.microandroid.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!--登录过滤器-->
<!--    <filter>
        <filter-name>com.microandroid.filters.LoginFilter</filter-name>
        <filter-class>com.microandroid.filters.LoginFilter</filter-class>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>/loginAction.do, /indexAction.do</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>com.microandroid.filters.LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>-->

    <!-- 连接池 启用 Web 监控统计功能    start-->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js, *.gif, *.jpg, *.png, *.css, *.ico, /druid/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>
    <!-- 连接池 启用 Web 监控统计功能    end
    访问监控页面: http://ip:port/projectName/druid/index.html
    -->
    <!-- session超时定义,单位为分钟 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--配置404页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/error404.jsp</location>
    </error-page>
</web-app>